:host{
  display: block;
  width: 300px;
  height: 20px;
  margin: 8px;
  border: 1px solid black;
  background-color: white;
  div{
    background-color: green;
    height: 100%;
    width: 30%;

  }
}
